/*  
    --------------------------------
    Screen Size - For Laptop 
    --------------------------------
*/

@media only screen and (min-width: 1100px){
    .projects{
        margin-top: 5%;
        padding-top: 10%;
    }    

    .projects-title{
        background-color: transparent;
        color: white;
        padding-bottom: 10px;
    }

    .project-box-title{
        color: white;
        background-color: black;
        border: solid 1px black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px black;
        margin-bottom: 14px;
    }

    .projects-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        gap: 5px;
    }

    .projects-box{
        border: solid 1px white;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 25px;
        
    }

    .project-btn-Demo{
        color: black;
        background-color: white;
        margin: 0 auto;
        margin-top: 162px;
        width: 200px;
        border-radius: 10px;
    }

    .project-btn-Demo:hover{
        background-color: lightblue;
        color: black;
    }

    .project-btn-Code{
        color: black;
        background-color: white;
        margin: 0 auto;
        width: 200px;
        border-radius: 10px;
    }
    
    .project-btn-Code:hover{
        background-color: lightblue;
        color: black;
    }

    .project-btn-Info{
        all: unset;
    }

    .project-btn-Info:hover{
        color: lightblue;
    }

    .project-btn-Info:active{
        width: 1%;
        height: 1%;
    }

    .bi.bi-info-square{
        background-color: transparent;
        color: white;
    }

    .project-picture-container{
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 15px;
        background-color: transparent;
    }

    #projects-portfolio-image{
        background-image: url('../images/OldPortfolio.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #projects-MovieInsider-image{
        background-image: url('../images/MovieInsider.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-RecipeWebsite-image{
        background-image: url('../images/RecipeWebsite.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-Workout-image{
        background-image: url('../images/comingSoon.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-RestroomFinder-image{
        background-image: url('../images/comingSoon.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    .project-info-style{
        color: rgb(81, 81, 81);
        font-size: 12px;
        text-align: justify;
    }

}




/* 
    ---------------------------------
    Screen Size - For Medium Screens
    --------------------------------
*/

@media only screen and (min-width: 600px) and (max-width: 1100px){
    .projects{
        margin-top: 5%;
        padding-top: 10%;
    }    

    .projects-title{
        background-color: transparent;
        color: white;
        padding-bottom: 10px;
    }

    .project-box-title{
        color: white;
        background-color: black;
        border: solid 1px black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: solid 1px black;
        margin-bottom: 14px;
    }

    .projects-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 5px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: 0 auto;
    }

    .projects-box{
        border: solid 1px white;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 25px;
        
    }

    .project-btn-Demo{
        color: black;
        background-color: white;
        margin: 0 auto;
        margin-top: 162px;
        width: 200px;
        border-radius: 10px;
    }

    .project-btn-Demo:hover{
        background-color: lightblue;
        color: black;
    }

    .project-btn-Code{
        color: black;
        background-color: white;
        margin: 0 auto;
        width: 200px;
        border-radius: 10px;
    }
    
    .project-btn-Code:hover{
        background-color: lightblue;
        color: black;
    }

    .project-btn-Info{
        all: unset;
        color: grey;
        padding-bottom: 500px;
    }

    .project-btn-Info:hover{
        color: lightblue;
    }

    .project-btn-Info:active{
        width: 1%;
        height: 1%;
    }

    .bi.bi-info-square{
        background-color: transparent;
        color: white;
    }

    .project-picture-container{
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 15px;
        background-color: transparent;
    }

    #projects-portfolio-image{
        background-image: url('../images/OldPortfolio.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #projects-MovieInsider-image{
        background-image: url('../images/MovieInsider.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-RecipeWebsite-image{
        background-image: url('../images/RecipeWebsite.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-Workout-image{
        background-image: url('../images/comingSoon.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-RestroomFinder-image{
        background-image: url('../images/comingSoon.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    #projects-newPortfolio-image{
        background-image: url('../images/NewPortfolio.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
    }

    .project-info-style{
        color: rgb(81, 81, 81);
        font-size: 12px;
        text-align: justify;
    }
}





/*  
    --------------------------------
    Screen Size - For Mobile 
    --------------------------------
*/

@media only screen and (max-width: 600px) {
    
}

